{% extends "pages/UserDashboard/base.html" %}
{% load static %}
{% block content %}  
    <div class="container">
        <div class="search-bar">
            <input type="text" placeholder="Find by agency or destination">
            <button><i class="fa fa-search"></i></button>
        </div>
        
        <div class="agency">
            <a href="{% url 'list_all_travel_plan' %}" class="all"><strong>View All Travel Plans</strong></a>
            {% for agency in agencies %}
                <div class="agency-item">
                    <img src="{% static agency.image %}" alt="{{ agency.name }}">
                    <div class="des">
                        <h3>{{ agency.name }}</h3>
                        <p>{{ agency.description }}</p>    
                    </div>
                    <button class="btn"><a href="{% url 'list_agency_travel_client' agency.id %}">Travel Plans</a></button>
                </div>
            {% endfor %}
        </div>
    </div> 
{% endblock %}